body {
  font-family: "Montserrat";
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}


/* navigation bar */


/* Fortune
I figured out that's because of the order of the style sheets.
Check out your index.html file, "css/styles.css" should be placed after the style-sheet by bootstrap
In reverse, you will never get the styles.css file work 
https://www.udemy.com/course/100-days-of-code/learn/lecture/22372366#questions/14044728
*/

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}


/* download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}


/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(35deg);
}


/* Features  */

#features {
  padding: 7% 15%;
  text-align: center;
}

.feature-box {
  padding: 5%;
  vertical-align: middle;
}

.icon {
  color: #ef8172;
  margin: 15px 15px;
}

.icon:hover {
  color: #ff4c68
}


/* testimonials */

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  padding: 20px;
  margin: 20px;
}